.page {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
