.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  opacity: 0.5;
  transition: all 0.3s ease 0s;
}


@media screen and (max-width: 600px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
