.cover {
  max-width: calc(100% - 48px * 2);
  margin: 92px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 1024px){
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 0;
  }
}


@media screen and (max-width: 550px) {
  .cover {
    margin: 66px auto 0;
  }
}
