.lead__caption {
  margin: 8px 0 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  align-self: flex-start;
}


@media screen and (max-width: 810px){
  .lead__caption {
    margin-left: 24px;
  }
}


@media screen and (max-width: 480px){
  .lead__caption {
    margin-left: 16px;
  }
}
