.header__lang-links {
  margin: 46px 48px 0 0;
  list-style-type: none;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 768px){
  .header__lang-links{
    margin: 46px 24px 0 0;
  }
}


@media screen and (max-width: 510px){
  .header__lang-links{
    margin: 30px 16px 0 0;
  }
}
