.intro__title {
  max-width: 690px;
  width: 100%;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px;
}

@media screen and (max-width: 768px){
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 600px){
  .intro__title {

    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 480px){
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
